.card {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    background: #eae8e0;
}

.coverImage {
    width: 100%;
    height: 645px;
    background: url('../images/cover.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.coverBorder {
    width: calc(100% - 28px);
    height: calc(100% - 14px);
    display: block;
    border: 1px solid white;
    box-shadow: 0 0 7px rgb(0 0 0/4%);
    margin: 14px auto;
    border-bottom: 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 14px;
}

.coverInfo {
    display: inline-block;
    padding: 28px 0;
    border: 1px solid white;
    border-top: 0;
    width: calc(100% - 28px);
    box-sizing: border-box;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5rem;
    padding: 0 64px;
}

.name {
    font-size: 18px;
}

.date {
    padding: 10px 0;
    letter-spacing: 2px;
    font-size: 22px;
}

.date + .date {
    border-top: 1px solid black;
}

.fullDate {
    margin-top: 20px;
    font-size: var(--main-font-size);
    letter-spacing: 2px;
}

.location {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}
