.greetingsDivider {
    color: var(--pink1-text-color);
}


.greetings {
    margin-top: 20px;
    line-height: 2.5;
    font-size: var(--main-font-size);
}

.greetingsEmphasis {
    color: var(--pink1-text-color);
}

.greetingsTitle {
    padding-top: 20px;
    font-size: 18px;
    padding-bottom: 30px;
}

