html {
    text-align: center;
    font-family: 'maru-buri';
}

body {
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
}

section {
    margin-bottom: 40px;
}

@font-face {
    font-family: 'maru-buri';
    font-style: normal;
    font-weight: normal;
    src: url("../MaruBuri-Regular.otf");
}
