:root {
    --max-width: 430px;
    --main-text-color: #5a5a5a;
    --secondary-text-color: #000000;
    --third-text-color: #2b2222;
    --red1-text-color: #c6472b;
    --pink1-text-color: #ff6699;
    --main-border-color: #5a5a5a;
    --secondary-border-color: #ebebeb;
    --third-border-color: #ddd;
    --main-background-color: #f9f9f9;
    --secondary-background-color: #858585;
    --bridegroom-color: #668eaa;
    --bride-color: #ce8383;
    --zIndex-low: 10;
    --zIndex-middle: 20;
    --zIndex-high: 30;
    --main-font-size: 14px;
}

html, body {
    text-align: center;
    color: var(--main-text-color);

    width: 100vw;
    background: dimgray;
    margin: 0 !important;
    padding: 0 !important;
}

section {
    padding-bottom: 60px;
}

h3 {
    font-weight: normal;
    font-size: 16px;
    margin: 25px 0;
}

button {
    color: var(--main-text-color);
}
